.modalContent {
  padding: 0 !important;
  border-radius: 24px !important;
}

.modalContainer {
  border-radius: 24px !important;
}

.headerRoot {
  padding: 32px 40px;
}

.body {
  margin: 0 !important;
}

.headerTitle {
  font-size: 28px !important;
  line-height: 40px !important;
}

.closeButton {
  top: 32px !important;
  right: 40px !important;
  border-radius: 24px !important;
  background-color: var(--backgroundTertiaryDefault) !important;

  &:hover {
    background-color: var(--backgroundTertiaryHover) !important;
  }

  &:active {
    background-color: var(--backgroundTertiaryActive) !important;
  }
}

.footer {
  padding: 40px;
  margin: 0 !important;

  &:not(.noBorder) {
    border-top: 1px solid var(--borderDefault);
  }
}