.title {
  &NoWrap {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
  }

  &WithRemove {
    max-width: calc(100% - 16px);
  }
}

.tag {
  cursor: pointer;

  &.fullWidth {
    width: 100%;

    .text {
      justify-content: center;
    }
  }

  &::after {
    background: none !important;
    border: none !important;
  }

  &.fill {
    background-color: var(--surfaceSecondaryDefault) !important;
    border: none !important;
    box-shadow: inset 0 0 0 1px var(--borderDisabled) !important;

    &:hover {
      background-color: var(--surfaceSecondaryHover) !important;
      box-shadow: inset 0 0 0 1px var(--borderDefault) !important;

      .title {
        color: var(--textBaseDefault) !important;
      }
    }

    &.selected {
      background-color: var(--surfaceAccentAlertSuccess) !important;
      box-shadow: inset 0 0 0 1px var(--borderFocus) !important;

      .title {
        color: var(--textBaseDefault) !important;
      }
    }
  }

  &.outline {
    background-color: var(--backgroundBasicDefault) !important;
    border: none !important;
    box-shadow: inset 0 0 0 1px var(--borderDefault) !important;

    &:hover {
      background-color: var(--surfaceBasicHover) !important;

      .title {
        color: var(--textBaseDefault) !important;
      }
    }

    &.selected {
      background-color: var(--surfaceAccentStatusSuccess) !important;
      box-shadow: inset 0 0 0 1px var(--borderFocus) !important;

      .title {
        color: var(--textBaseDefault) !important;
      }
    }
  }
}

.XXS {
  padding: 2px !important;

  .title {
    padding: 2px 6px;
  }

  .icon {
    margin-right: 2px;
  }
}
.XS {
  padding: 4px 8px !important;

  .title {
    padding: 2px 4px;
  }
}

.S {
  padding: 8px !important;

  .title {
    padding: 2px 8px;
  }

  .icon {
    margin-right: 2px;
  }
}

.icon {
  color: var(--iconBaseSecondary);
}
