.fileItem {
  background-color: var(--backgroundBasicDefault) !important;
  border-radius: 8px !important;

  &:hover {
    background-color: var(--backgroundBasicHover) !important;

    & .progressСontainer {
      & [aria-label=track] {
        background-color: var(--backgroundBasicActive);
      }
    }
  }
  &:after {
    border: none !important;
  }
  &Error {
    &:hover {
      background-color: var(--backgroundAccentDanger) !important;
    }
  }

  &Chat {
    border-radius: 16px !important;

    &::after {
      box-shadow: inset 0 0 0 1px var(--borderDefault);
      border-radius: 16px !important;
    }

    &.fileItemError {
      box-shadow: inset 0 0 0 1px var(--borderError);
    }
    & .progressСontainer [aria-label=track] {
      border-radius: 16px !important;
    }
  }
}

.itemСontainer {
  .size-sm & {
    padding: 4px !important;
  }

  .size-md & {
    padding: 8px !important;
  }

  .size-lg & {
    padding: 12px !important;
  }

  & div:has(> .fileButtonAction) {
    align-self: flex-start;
    gap: 4px;

    height: 40px;
    margin: 0 !important;

    & .fileButtonAction {
      align-self: center;
    }

    & .fileButtonStub {
      width: 32px;
      height: 32px;
    }
  }
}

.itemContent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;

  overflow: hidden;

  & .content {
    align-self: center;
    overflow: hidden;
  }
}

.infoPrefix {
  align-self: flex-start;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sizeInfo {
  align-self: flex-start;
  line-height: 40px !important;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}

.iconButtonWrapper {
  width: fit-content;
  height: fit-content;
}

.fileName {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.progressСontainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 0 !important;

  & [role=progressbar] {
    background-color: inherit;
    height: inherit !important;
    border-radius: 8px;

    & [aria-label=track] {
      border-radius: inherit;
      background-color: var(--backgroundAccentNeutral);
    }
  }
}
