.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }
}

.svg {
  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &.fill {
    fill: currentColor;
    stroke: transparent;
  }
  &.stroke {
    stroke: currentColor;
    fill: transparent;
  }
}
