@use "../../styles/mixins/fields.module.scss" as *;
@use "../../styles/mixins/animations.module.scss" as *;

@include fieldBase();

.inputContainer {
  min-height: auto;
  cursor: pointer;
}

.input {
  padding-right: 8px;
}

$indicatorContainerOffsetMap: "S" 8px,
  "M" 11px,
  "L" 15px,
  "XL" 19px;

@each $size, $padding in $indicatorContainerOffsetMap {
  .size#{$size} .inputContainer {
    padding-right: $padding !important;

    &.containerComplex {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;

      &:not(.focused):not(:hover)::after {
        border-left: none !important;
      }
    }
  }

  .size#{$size} {
    .topLabels {
      position: relative;
      padding-right: 0 !important;
      margin-right: 0 !important;

      &Wrapper {
        z-index: 1;
      }
    }

    .topLabelsWrapper::after {
      content: none !important;
    }
  }
}

.filled.containerLabelInside,
.rootFocused.containerLabelInside {
  .topLabelsWrapper {
    z-index: 2;
    pointer-events: none;
    user-select: none;
  }
}

.required {
  font-size: 12px;
  line-height: 16px;
}

.labelSuffix {
  position: absolute;
  top: 0;
  right: -24px;
}

.labelSuffixRequired {
  right: -28px;
}

.inputIndicatorContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.dropdownIcon {
  order: 4;
  cursor: pointer;
  color: var(--iconBaseTertiary);
}

.dropdownIconOpened {
  transform: rotate(180deg);
}

.focused .dropdownIcon {
  color: var(--iconBaseDefault) !important;
}

.disabled {

  .dropdownIcon,
  .prefix {
    color: var(--iconBaseDisabled) !important;
  }
}

.error {
  .dropdownIcon {
    color: var(--iconAccentDanger) !important;
  }

  &.containerLabelInside .label {
    color: var(--textAccentDanger) !important;
  }
}

.loading {
  order: 3;

  svg {
    display: none;
  }

  &::before {
    content: "";
    display: block;
    mask-repeat: no-repeat;
    mask-position: center;
    animation: spin 2s linear infinite;
    mask-size: 14px;
    -webkit-mask-image: url("../../icons/loader/track.svg");
    mask-image: url("../../icons/loader/track.svg");
    background-color: var(--iconBrandDefault);
    min-width: 24px;
    min-height: 24px;
  }

  &Label {
    color: var(--textBaseTertiary) !important;
    font-family: SBSansText;
  }
}

.placeholder {
  color: var(--textBaseTertiary);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  grid-area: 1 / 1 / 2 / 3;
}

.placeholderDisabled {
  color: var(--textBaseDisabled);
}

.sizeS .placeholder {
  font-size: 14px;
}

.filled .valueWrapper {
  color: var(--textBaseDefault) !important;
  ;
}

.valueWrapper {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.sizeS .valueWrapper {
  font-size: 14px;
}

.containerLabelInside.isSearchable {

  &.sizeL,
  &.sizeXL {
    .valueWrapper {
      margin-top: 20px;
    }
  }
}

.valueContainer {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  grid-area: 1 / 1 / 2 / 3;
  max-width: 100%;
}

.chipsWrapper {
  max-width: 100%;
}