.expandButton {
  outline: none;
  border: none;
  transform: rotate(-90deg);
  background: none;
  cursor: pointer;
  color: var(--iconBaseTertiary);
  padding: 0 !important;
  &Expanded {
    transform: rotate(0);
  }
}