.wrapper {
  margin: 0 auto;

  position: relative;

  & svg {
    height: 100%;
    width: 100%;

    transform: rotate(-90deg);
  }
}

.circle {
  stroke-width: 10px;
  fill: none;

  r: calc(50% - 5px);
  cx: 50%;
  cy: 50%;
}

.track {
  @extend .circle;

  &Green {
    stroke: var(--backgroundLightSuccess);
  }
  &Orange {
    stroke: var(--backgroundLightWarning);
  }
  &Red {
    stroke: var(--backgroundLightDanger);
  }
  &Burgundy {
    stroke: #f97066;
  }
  &Gray {
    stroke: var(--backgroundSecondaryDefault);
  }
}

.progress {
  @extend .circle;

  stroke-linecap: round;

  &Green {
    stroke: var(--borderFocus);
  }
  &Orange {
    stroke: var(--buttonWarningDefault);
  }
  &Red {
    stroke: #f97066;
  }
  &Burgundy {
    stroke: var(--buttonDangerActive);
  }
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;

  font-weight: 600;
  color: var(--textBaseSecondary);

  text-anchor: middle;
  dominant-baseline: middle;
  cursor: default;
  transform: translate(-50%, -50%);
}
