.itemWrap {
  border-radius: 8px;
  padding: 4px;
  cursor: pointer;
  background-color: var(--droplistBackgroundDefault);
  transition: background-color .15s ease-in-out;

  &:hover {
    background-color: var(--droplistBackgroundHover);
  }

  &:active {
    background-color: var(--droplistBackgroundActive);
  }
}

.itemTextWrap {
  display: flex;
  overflow: hidden;
  flex: 1;
  padding: 6px 8px;
  max-width: 100%;
  box-sizing: border-box;
}

.optionValueText {
  color: var(--textBaseTertiary);
  margin-right: 4px;
}

.optionValueWrap {
  flex-grow: 1;
  overflow: hidden;
}

.optionItemText {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;

  & span {
    color: var(--textTechSuccess);
    background: none !important;
    font-weight: 400 !important;
  }
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;

  .optionItemText,
  .optionValueText {
    color: var(--textBaseDisabled);
  }
}

.iconWrap {
  padding: 4px 4px 4px 0;
}

.iconSelected {
  color: var(--iconBrandDefault);
}

.disabled .iconSelected {
  color: var(--iconBaseDisabled);
}