.tag {
  background-color: var(--backgroundBasicDefault) !important;
  cursor: pointer;
  &::after {
    border: 1px solid var(--borderDefault) !important;
  }

  &:focus-visible {
    box-shadow: 0 0 0 1px var(--borderFocus) !important;
    &::after {
      border: 1px solid var(--borderFocus) !important;
    }
  }
}
.text {
  color: var(--textBaseSecondary);
}

.selected {
  .text {
    color: var(--textBaseDefault);
  }
  &.lite::after {
    border: 1px solid var(--borderFocus) !important;
  }
}

.medium {
  padding: 10px 10px !important;
  .text {
    font-size: 16px !important;
  }
}

.secondary {
  &.selected {
    background-color: var(--backgroundSecondaryDefault) !important;
  }
  &::after {
    border: none !important;
  }
  .text {
    font-weight: 500 !important;
    color: var(--textBaseDefault) !important;
  }
}

.primary {
  padding: 6px !important;

  transition: background-color 0.3s !important;

  &::after {
    border: none !important;
  }
  .text {
    font-weight: 500 !important;
  }
  &.selected .text {
    font-weight: 600 !important;
  }
}

.wrapper {
  position: relative;

  border-radius: 100px;

  .container {
    padding: 4px;
  }

  &FullWidth {
    width: 100%;

    button {
      flex-grow: 1;
      justify-content: center;
    }
  }
}

.color-gray {
  @extend .wrapper;

  background-color: var(--backgroundSecondaryDefault) !important;

  & .primary {
    background-color: transparent !important;

    &:hover {
      background-color: var(--backgroundGhostHover) !important;
    }
    &.selected {
      background-color: var(--backgroundBasicDefault) !important;
    }
  }
}

.color-red {
  @extend .wrapper;
}

.color-yellow {
  @extend .wrapper;
}

.color-green {
  @extend .wrapper;
}

.color-azure {
  @extend .wrapper;
}

.color-blue {
  @extend .wrapper;
}

.color-violet {
  @extend .wrapper;
}

.helperText {
  margin-top: 4px;

  color: var(--textBaseSecondary) !important;

  &Error {
    color: var(--borderError) !important;
  }
}

.required {
  color: var(--textBadgeDanger) !important;
  font-weight: 400;
}

.neutral {
  background-color: var(--surfaceTertiaryDefault) !important;
}
