.icon {
  width: 24px;
  height: 24px;

  align-self: flex-start;
}

.textWrapper {
  padding: 2px 0;

  width: 100%;
}

.actions {
  display: flex;
  align-items: center;
}

.dot {
  width: 16px;

  text-align: center;
}

@for $i from 0 through 32 {
  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }
}

.wrapper {
  padding: 12px;

  width: 100%;

  position: relative;
  z-index: 100;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  border: none;
  border-radius: 18px;

  &.status-success {
    background: var(--surfaceAccentStatusSuccess);
    box-shadow: inset 0 0 0 1px var(--surfaceAccentAlertSuccess);

    .icon {
      color: var(--iconAccentSuccess);
    }
  }
  &.status-warning {
    background: var(--surfaceAccentStatusWarning);
    box-shadow: inset 0 0 0 1px var(--surfaceAccentAlertWarning);

    .icon {
      color: var(--iconAccentWarning);
    }
  }
  &.status-error {
    background: var(--surfaceAccentStatusDanger);
    box-shadow: inset 0 0 0 1px var(--surfaceAccentAlertDanger);

    .icon {
      color: var(--iconAccentDanger);
    }
  }
  &.status-danger {
    background: var(--surfaceAccentStatusDanger);
    box-shadow: inset 0 0 0 1px var(--surfaceAccentAlertDanger);

    .icon {
      color: var(--iconAccentDanger);
    }
  }
  &.status-info {
    background: var(--surfaceAccentStatusInfo);
    box-shadow: inset 0 0 0 1px var(--surfaceAccentAlertInfo);

    .icon {
      color: var(--iconAccentInfo);
    }
  }
  &.status-discovery {
    background: var(--surfaceAccentAlertDiscovery);

    .icon {
      color: var(--iconAccentDiscovery);
    }
  }
  &.status-ai {
    background:
      radial-gradient(circle at top right, var(--blue100), rgb(209, 233, 255, 0) 100px),
      radial-gradient(circle at bottom left, var(--yellow100), rgb(254, 240, 199, 0) 100px),
      var(--surfaceAccentStatusSuccess);
    box-shadow: inset 0 0 0 1px var(--surfaceAccentAlertSuccess);
  }
}

.closeButton {
  padding: 2px !important;

  align-self: flex-start;
}
