.root {
  width: 400px !important;
  padding: 12px !important;
  overflow: hidden !important;

  box-shadow:
    0px 0px 1px 0px rgba(36, 41, 46, 0.32),
    0px 4px 8px 0px rgba(36, 41, 46, 0.12) !important;
  border: 2px solid var(--backgroundBasicDefault) !important;
  border-radius: var(--controlBorderRadius) !important;

  &::before {
    border-width: 0px !important;
  }

  &Gradient {
    &::before {
      content: "" !important;

      height: 80px !important;
      width: 80px !important;

      top: 0 !important;
      left: 0 !important;
      z-index: 1 !important;
    }

    &.success::before {
      background: linear-gradient(135deg,
          rgb(209, 250, 239) 0%,
          rgb(255, 255, 255) 50%);
    }

    &.warning::before {
      background: linear-gradient(135deg,
          rgb(254, 240, 199) 0%,
          rgb(255, 255, 255) 50%);
    }

    &.error::before {
      background: linear-gradient(135deg,
          rgb(254, 228, 226) 0%,
          rgb(255, 255, 255) 50%);
    }

    &.info::before {
      background: linear-gradient(135deg,
          rgb(209, 233, 255) 0%,
          rgb(255, 255, 255) 50%);
    }

    &.discovery::before {
      background: linear-gradient(135deg,
          rgb(244, 235, 255) 0%,
          rgb(255, 255, 255) 50%);
    }

    &.assistant::before {
      background: linear-gradient(135deg,
          rgb(209, 250, 239) 0%,
          rgb(255, 255, 255) 50%);
    }
  }
}

.body {
  z-index: 2 !important;

  margin-left: 8px !important;

  justify-content: start !important;
  align-items: start !important;
  flex-direction: column;
  gap: 0 !important;
}

.textContainer {
  margin: 2px 0 2px 0;

  flex-direction: column;
  gap: 8px !important;

  .title+.content {
    p {
      color: var(--textBaseSecondary) !important;
    }
  }
}

.onlyContent {
  z-index: 2 !important;
  margin: 2px 8px 2px !important;
}

.actions {
  margin-top: 8px !important;
}

.icon {
  z-index: 2 !important;

  width: 24px;
  height: 24px;
  padding: 0 !important;
  margin: 0 !important;
  align-items: start;

  .error {
    color: var(--iconAccentDanger);
  }

  .warning {
    color: var(--iconTechWarning);
  }

  .info {
    color: var(--iconAccentInfo);
  }

  .success {
    color: var(--iconBrandDefault);
  }

  .discovery {
    color: var(--iconAccentDiscovery);
  }
}

.closeButton {
  height: 24px !important;
  min-width: 24px !important;

  flex: 0 !important;

  background: none !important;

  color: var(--textBaseSecondary) !important;
}