.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
  padding: 8px;

  color: var(--iconBaseSecondary);
  background-color: var(--iconAccentNeutral);

  &.word,
  &.wordFill {
    color: var(--iconAccentInfo);
  }
  &.excel,
  &.excelFill {
    color: var(--iconAccentSuccess);
  }
  &.pdf,
  &.pdfFill {
    color: var(--iconAccentDanger);
  }
  &.powerPoint,
  &.powerPointFill {
    color: var(--iconAccentWarning);
  }
  &.archive,
  &.archiveFill {
    color: var(--iconAccentWarning);
  }
}

