@mixin background {
  --backgroundBasicDefault: #ffffff;
  --backgroundBasicHover: #3750690A;
  --backgroundBasicActive: #0526580F;
  --backgroundSecondaryDefault: #f0f2f5;
  --backgroundSecondaryHover: #0526580F;
  --backgroundSecondaryActive: #09203721;
  --backgroundTertiaryDefault: #0526580F;
  --backgroundTertiaryHover: #09203721;
  --backgroundTertiaryActive: #03163045;
  --backgroundGhostDefault: #ffffff;
  --backgroundGhostHover: #3750690A;
  --backgroundGhostActive: #0526580F;
  --backgroundPrimaryDefault: #32d583;
  --backgroundPrimaryHover: #11AD81;
  --backgroundPrimaryActive: #05996F;
  --backgroundDarkDefault: #15171A;
  --backgroundDarkHover: #24292E;
  --backgroundDarkActive: #2F363D;
  --backgroundLightSuccessLight: #ecfdf3;
  --backgroundLightDangerLight: #fef3f2;
  --backgroundLightWarningLight: #fffaeb;
  --backgroundLightInfoLight: #eff8ff;
  --backgroundLightQuestLight: #f9f5ff;
  --backgroundLightBrandLight: #ecfdf8;
  --backgroundLightSuccess: #d1fadf;
  --backgroundLightBrand: #d1faef;
  --backgroundLightDanger: #fee4e2;
  --backgroundLightWarning: #fef0c7;
  --backgroundLightInfo: #d1e9ff;
  --backgroundLightQuest: #f4ebff;
  --backgroundAccentQuest: #b692f6;
  --backgroundAccentWarning: #fdb022;
  --backgroundAccentSuccess: #32d583;
  --backgroundAccentInfo: #53b1fd;
  --backgroundAccentNeutral: #F7F8F9;
  --backgroundAccentDanger: #FEF3F2;
  --backgroundTechDisabled: #3750690a;
  --backgroundTechError: #d92d20;
  --backgroundTechDanger: #f04438;
  --backgroundTechSuccess: #12b76a;
  --backgroundTechWarning: #f79009;
  --backgroundInputHover: #3750690A;
}