@mixin control {
  --controlBackgroundDefault: #ffffff;
  --controlBackgroundHover: #3750690a;
  --controlBackgroundFocus: #ffffff;
  --controlBackgroundDisabled: #3750690a;
  --controlBorderDefault: #09203721;
  --controlBorderFocus: #11ad81;
  --controlBorderDisabled: #26587a0f;
  --controlBorderError: #f04438;
  --controlBorderRadius: 4px;
  --controlBorderRadius: 16px;
}