@mixin text {
  --textBadgeSuccess: #054F3A;
  --textBadgeInfo: #194185;
  --textBadgeWarning: #7A2E0E;
  --textBadgeDanger: #7A1202;
  --textBadgeDiscovery: #42307D;
  --textBadgeBrand: #054f3a;
  --textBaseDefault: #24292e;
  --textBaseSecondary: #6a737d;
  --textBaseTertiary: #959da5;
  --textBaseDisabled: #09203721;
  --textBaseInverse: #ffffff;
  --textLinkDefault: #1570EF;
  --textLinkActive: #175CD3;
  --textLinkVisited: #DD2590;
  --textBrandDefault: #05996f;
  --textBrandLight: #32d5a7;
  --textBrandLabel: #194185;
  --textBrandMenu: #959da5;
  --textAccentInfo: #2e90fa;
  --textAccentWarning: #F79009;
  --textAccentDiscovery: #9E77ED;
  --textAccentNeutral: #6A737D;
  --textAccentDanger: #F04438;
  --textTechSuccess: #11AD81;
  --textTechInfo: #2E90FA;
  --textTechWarning: #b54708;
  --textTechDanger: #f04438;
}

@mixin normText {
  @include text();
}