.dropListWrap {
  background-color: var(--backgroundBasicDefault);
  box-shadow:
    0 0 1px rgba(36, 41, 46, 0.32),
    0 8px 15px rgba(36, 41, 46, 0.12);
  border-radius: 16px;
  margin: 4px 0;
  padding: 8px 0;
  width: 100%;

  &.withMinWidth {
    min-width: min-content;
  }
}

.dropList {
  margin: 0;
  padding: 0 8px !important;
  list-style-type: none;
  box-sizing: border-box;
}

.scrollbar {
  min-height: 0;
  max-height: 300px;
}

.sideWrap {
  padding: 0 8px;
}

.buttonsWrap {
  padding: 4px 12px;
}

.emptyList {
  padding: 6px 16px;
  color: var(--textBaseSecondary);
}

// tree
.treeList {
  background: white;
  border: 1px solid var(--borderDefault);
  border-radius: var(--controlBorderRadius);
  margin: 4px 0;
  max-height: 400px;
  overflow: hidden;

  .treeLoading {
    font-size: 14px;
    line-height: 40px;
    color: var(--textBaseTertiary);
    padding: 6px 12px;
    font-family: SBSansText;
  }
}

.tree {
  padding: 8px !important;
  box-sizing: border-box;

  .node {
    border-radius: 8px !important;
    padding: 6px 8px !important;
    color: var(--textBaseDefault) !important;
    align-items: center;
    box-sizing: content-box;
    transition: background-color .1s ease-in-out;

    &:hover {
      background-color: var(--droplistBackgroundSelect) !important;
    }

    &:active {
      background-color: var(--backgroundBasicActive) !important;
    }
  }

  .item {
    min-width: auto !important;
  }

  .nodeContentContainer {
    width: 100%;
    margin-left: 4px;
    flex-grow: 1;
    overflow: hidden;
  }

  .treeContent {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &Checked {
      color: var(--iconTechSuccess);
      display: flex;
    }

    &Value {
      color: var(--textBaseTertiary);
      margin-right: 4px;
    }

    &Wrap {
      display: flex;
      align-items: center;
      max-width: 100%;
      &Selected {
        max-width: calc(100% - 24px);
      }
    }

    &Text {
      white-space: nowrap;
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .nodeContent {
    font-size: 16px !important;
    line-height: 20px !important;
    color: var(--textBaseDefault) !important;
    width: 100% !important;
  }

  .selectedIndicator {
    display: none !important;
  }

  .itemDisabled {

    .treeContent,
    .treeContentValue {
      color: var(--textBaseDisabled) !important;
    }
  }

  .itemSelected:not(:hover) .node {
    background-color: unset !important;
  }

  .itemFocused {
    .node:before {
      box-shadow: none !important;
    }
  }
}

.expandButtonWrap {
  padding: 0 !important;
  min-width: 20px !important;
  min-height: 20px !important;
}