.root {
  max-width: 100%;

  position: relative;
}

.dateContainer {
  width: calc(50% - 1px);
  display: flex;
  align-items: center;
}

.date {
  margin-right: 8px;

  height: 40px;

  display: flex;
  flex-direction: column;
  align-items: start;
  flex-grow: 1;

  position: relative;
  overflow: hidden;
}

.startDate {
  @extend .date;

  margin-left: 12px;
}

.endDate {
  @extend .date;

  margin-left: 15px;
}

.iconContainer {
  margin-left: 11px;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--backgroundSecondaryDefault);
}

.label {
  margin-bottom: 4px;

  width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;
  text-overflow: ellipsis;

  transform: translate(0, 0) scale(1);

  &WithoutValue {
    transform: translate(0, 9px) scale(1.33);
    transform-origin: top left;
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
  }

  &ViewOnly {
    position: static;

    &WithoutValue {
      transform: translate(0, 9px);
    }
  }
}

.rangeInput {
  box-sizing: border-box;
  min-width: 470px;
  background-color: var(--backgroundBasicDefault);
  border-radius: var(--controlBorderRadius);
  border: 1px solid var(--borderDefault);

  display: flex;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;

  .inputDate {
    margin-top: auto;
    padding: 0;

    width: 90px;
    height: 20px;

    font-family: SBSansText;
    font-size: 16px;
    line-height: 20px;

    border: none;
    outline: none;
    background-color: unset;
    border-radius: 0;

    &::placeholder {
      visibility: hidden !important;
    }
  }

  &ViewOnly {
    padding: 0 !important;

    height: 44px;
    min-width: auto;

    gap: 16px;
    border: none !important;
    cursor: default;

    &:hover {
      border: none;
      box-shadow: none;
      background-color: var(--backgroundBasicDefault) !important;
    }

    .dateContainer {
      width: auto;
    }

    .iconContainer {
      margin-left: 0;
    }

    .label {
      line-height: 20px;
      font-size: 14px;
    }

    .startDate {
      margin-left: 16px;
    }

    .endDate {
      margin: 0;
    }
  }
}

.opened {
  .rangeInput {
    box-shadow: inset 0 0 0 1px var(--borderFocus);
    border-color: var(--borderFocus);

    &:hover {
      background-color: var(--backgroundBasicDefault) !important;
    }
  }

  .inputDate {
    &:not(:focus)::placeholder {
      visibility: visible !important;
    }
  }

  .divider {
    border-color: var(--borderFocus);
    border-width: 2px;
  }
}

.chevron {
  padding: 4px !important;

  width: 32px;
  height: 32px;

  color: var(--textBaseSecondary) !important;
  transition: color var(--transitionDuration) ease-in-out;
  background-color: transparent !important;
  border-radius: 10px !important;

  &:hover {
    color: var(--textBaseDefault) !important;
  }

  &:active {
    color: var(--textBaseDefault) !important;
  }
}

.calendarBar {
  padding-bottom: 8px;
  margin-bottom: 8px !important;

  flex: 1;

  border-bottom: 1px solid var(--borderDefault);

  :first-child {
    order: 0;
  }

  .month {
    height: 32px;

    order: 1;
    border-radius: 10px !important;
    color: var(--textBaseSecondary) !important;
    transition: color var(--transitionDuration) ease-in-out;

    &:active {
      color: var(--textBaseDefault) !important;
      background: transparent !important;
    }

    &:hover {
      color: var(--textBaseDefault) !important;
      background: transparent !important;
    }
  }

  .year {
    height: 32px;

    order: 1;
    border-radius: 10px !important;
    color: var(--textBaseSecondary) !important;
    transition: color var(--transitionDuration) ease-in-out;

    &:active {
      color: var(--textBaseDefault) !important;
      background: transparent !important;
    }

    &:hover {
      color: var(--textBaseDefault) !important;
      background: transparent !important;
    }
  }

  :nth-child(3) {
    order: 2;
  }
}

.month.selected,
.year.selected {
  background-color: transparent !important;
}

.dayButton {
  width: 40px !important;
  height: 40px !important;

  border-radius: 8px !important;

  & .dayText {
    font-size: 16px !important;
    line-height: 20px !important;
  }

  &:nth-child(6):not(.notInMonth):not(.selected),
  &:nth-child(7):not(.notInMonth):not(.selected) {
    .dayText {
      color: var(--textBaseTertiary) !important;
    }
  }

  &:hover:not(.selected-start):not(.selected-end):not(.selected) {
    background-color: var(--surfaceBasicHover) !important;
  }

  &.selected:not(.selected-start):not(.selected-end) {
    background-color: var(--surfacePrimaryDefault) !important;
    border-radius: 8px !important;
  }

  &.selected-start {
    border-radius: 8px 0 0 8px !important;
    background-color: var(--surfacePrimaryDefault) !important;
  }

  &.selected-end {
    border-radius: 0 8px 8px 0 !important;
    background-color: var(--surfacePrimaryDefault) !important;
  }

  &.inRange {
    border-radius: 0 !important;
    background-color: var(--surfaceAccentStatusSuccess) !important;
  }

  &.hovered {
    background-color: var(--surfaceBasicHover) !important;
    border: none !important;
    border-radius: 0 !important;
  }

  &.hovered-start:not(.inRange) {
    border-radius: 8px 0 0 8px !important;
  }

  &.hovered-end:not(.inRange) {
    border-radius: 0 8px 8px 0 !important;
  }

  &.notInMonth {
    color: var(--textBaseDisabled) !important;
  }
}

.todayButton {
  box-shadow: inset 0 0 0 1px var(--borderFocus) !important;
  color: var(--textBaseDefault) !important;

  &.selected {
    color: var(--textBaseInverse) !important;
  }

  &>span {
    box-shadow: none !important;
  }
}

.weekDay {
  height: 20px !important;

  color: var(--textBaseTertiary) !important;
  font-size: 14px !important;
}

.row,
div[class^='row'],
div[class*=' row'] {
  margin-bottom: 0 !important;
}

.fullWidth {
  width: 100% !important;

  .fieldGrid {
    width: unset;
  }
}

.arrow {
  height: 24px;

  align-self: center;

  border-radius: 100%;
  background-color: var(--backgroundSecondaryDefault);
}

.calendarPickerDropdown {
  margin-top: 2px !important;

  max-height: 351px;

  border-radius: 16px !important;

  &>:first-child {
    width: 100%;
  }

  .divider {
    border-color: var(--borderDefault);
  }

  .row {
    &:first-child {
      margin: 8px 0 16px !important;
    }
  }
}

.months,
.years {
  max-height: 284px;
}

.years {
  display: flex;
  align-items: center;
}

.months {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 4px;
}

.yearsRow,
.monthsRow {
  gap: 4px;
}

.yearButton,
.monthButton {
  width: 83px !important;

  border-radius: 8px !important;

  &:hover {
    background-color: var(--surfaceBasicHover) !important;
    color: var(--textBaseDefault) !important;
  }
}

.yearButtonSelected,
.monthButtonSelected {
  background-color: var(--surfacePrimaryDefault) !important;

  &:hover {
    background-color: var(--surfacePrimaryDefault) !important;
    color: var(--textBaseInverse) !important;
  }
}

.calendarPickerDropdownReadonly {
  display: none !important;
}

.fieldGrid {
  width: 100%;

  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;

  &::after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    border: 1px solid var(--borderDefault);
  }

  &:hover {
    &::after {
      background-color: var(--backgroundInputHover);
      border-width: 2px;
    }

    &.disabled::after {
      background-color: var(--backgroundTechDisabled);
      border-width: 1px;
    }
  }

  &.disabled::after {
    background-color: var(--backgroundTechDisabled);
  }

  &.focused::after {
    background-color: transparent;
    border-color: var(--borderFocus);
    border-width: 2px;
  }

  &.error::after {
    background-color: transparent;
    border-color: var(--borderError);
  }

  &.sizeS::after {
    border-radius: 12px;
  }

  &.sizeM::after {
    border-radius: 14px;
  }

  &.sizeL::after {
    border-radius: 16px;
  }

  &.sizeXL::after {
    border-radius: 18px;
  }
}

.inputStart {
  border-right: 1px solid var(--borderDefault) !important;

  &::after {
    content: none !important;
  }
}

.inputEnd {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;

  &::after {
    content: none !important;
  }
}

.singleLabel {
  font-size: 12px !important;
  line-height: 16px !important;
  font-weight: 600 !important;
  color: var(--textBaseDefault);
}

.tooltipIcon {
  color: var(--iconBaseDefault);
}

.asterisk {
  margin-left: -4px;

  font-size: 12px;
  font-weight: 600;
  color: var(--textAccentDanger);
}