.control {
  width: 20px !important;
  height: 20px !important;
  align-self: flex-start;

  &:hover:not(.disabled, .error, .checked),
  &:active:not(.disabled, .error, .checked) {
    .radio {
      border-width: 2px !important;
      background: var(--backgroundBasicHover) !important;
    }
  }
  &:hover:not(.disabled, .error, .checked) {
    .radio {
      background: var(--backgroundBasicHover) !important;
    }
  }
  &:active:not(.disabled, .error, .checked) {
    .radio {
      background: var(--backgroundBasicActive) !important;
    }
  }

  &.checked {
    .radio {
      background: var(--backgroundPrimaryDefault) !important;
    }
    .radioMark {
      svg {
        display: none !important;
      }

      width: 10px;
      height: 10px;
      border-radius: 50%;
      top: 5px !important;
      left: 5px !important;
      background: var(--backgroundBasicDefault) !important;
    }

    &:hover:not(.disabled, .error) {
      .radio {
        background: var(--backgroundPrimaryHover) !important;
      }
    }
    &:active:not(.disabled, .error) {
      .radio {
        background: var(--backgroundPrimaryActive) !important;
      }
    }

    &.disabled {
      .radioMark {
        background: var(--iconBaseDisabled) !important;
      }
    }
    &.error {
      .radio {
        background: var(--backgroundTechDanger) !important;
      }
    }
  }

  &.disabled {
    pointer-events: none;

    .radio {
      background: var(--controlBackgroundDisabled) !important;
      border-color: var(--controlBorderDisabled) !important;
    }
  }
  &.error:not(.checked) {
    .radio {
      border-color: var(--borderError) !important;
    }
  }
}

.input {
  width: 20px !important;
  height: 20px !important;
}

.radio {
  width: 20px !important;
  height: 20px !important;
  border: 1px solid var(--borderDefault) !important;

  svg {
    display: none !important;
  }
}

.helperText {
  p {
    color: var(--textBaseTertiary) !important;
  }

  &Error {
    p,
    svg {
      color: var(--borderError) !important;
    }
  }
}

.label {
  gap: 10px;

  .labelContent {
    margin: 0 !important;
  }
}
