.extras {
  color: var(--textBaseSecondary);
}

.dot {
  font-family: Inter;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  margin-left: 8px;
}

.flexSpace {
  gap: 4px 8px !important;
  margin-top: 4px;
}

.errorText {
  color: var(--textAccentDanger) !important;
}

.errorInfo {
  @extend .errorText;

  margin-top: 4px;
  margin-left: -1px;
}
